.about {
    @include section();
    text-align: center;
    background-color: $light;

    &__header {
        margin-bottom: $spacer * 3;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        border-bottom: 1px solid #ddd;
    }

    &__title {
        padding-bottom: $spacer;
        color: $primary;
    }

    &__text {
        padding-bottom: $spacer;
    }
}

.accord {

    .card {
        
        &-header {
            color: $primary;
            font-size: $font-size-base * 1.75;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }

        &-body {
            color: $primary;
            font-size: $font-size-base * 1.25;
            cursor: default;
        }
    }

}