.top-btn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 50px;
    border-radius: 4px;
    font-size: 32px;
    height: 50px;
    width: 50px;
    color: #fff;
    z-index: 1001;
    transition: all .5s;
    background-color: $primary;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        text-decoration: none;
        outline: none;
        color: $primary;
    }
}